.advantages {
  margin: 0 auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.advantages__header {
  padding: 32px 20px 16px 18px;
  margin: 0 auto;
  width: 320px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
  }
}

.advantages__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;

  color: #000000;

  margin: 0;
  padding-bottom: 35px;
}

.advantages__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  text-align: center;
  text-transform: uppercase;

  color: #000000;

  margin: 0;

  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  padding-left: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__item {
  list-style: none;
  background-color: #eeeeee;

  box-sizing: border-box;
  margin: 0;
  padding: 26px;

  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    min-width: 400px;
  }
}

.advantages__item--accent {
  background-color: #81b3d2;
  color: #ffffff;

  padding: 0;
}

.advantages__item.advantages__item--accent {
  display: flex;
  flex-direction: column;
  justify-content: center;


  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
  }
}

// .advantages-header::before {
//   background-image: url("../img/white-arrow.svg");
//   background-position: bottom;
//   background-repeat: no-repeat;
// }

.advantages__list .advantages__item--accent-first {
  background-image: url("../img/white-arrow.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 320px auto;
}

.advantages__content {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0;
    flex-direction: row;

    width: 768px;
    max-height: 256px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    flex-direction: row;

    width: 1200px;
  }
}

.advantages__text {
  padding: 39px 22px 40px 16px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 256px;
    max-height: 256px;
    padding: 43px 36px 41px 36px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    max-height: 256px;
    padding: 51px 78px 53px 79px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
  padding-bottom: 20px;
}


.advantages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
  padding-bottom: 20px;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
}

.advantages__text.advantages__text--bridge {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}
