.advantages {
  margin: 0 auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.advantages__header {
  padding: 32px 20px 10px 18px;
  margin: 0 auto;
  width: 300px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    padding: 48px 124px 48px 124px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
    padding: 59px 359px 38px 357px;
  }
}

.advantages__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;

  color: #000000;

  margin: 0;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    width: 520px;

    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    width: 484px;
  }
}

.advantages__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  text-align: center;
  text-transform: uppercase;

  color: #000000;

  margin: 0;

  padding-bottom: 8px;

  @media (min-width: $desktop-width) {
    width: 484px;
    white-space: nowrap;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  padding-left: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__item {
  list-style: none;
  background-color: #eeeeee;

  box-sizing: border-box;
  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    min-width: 400px;
  }
}

.advantages__item--accent {
  background-color: #81b3d2;
  color: #ffffff;

  padding: 0;
}

.advantages__item.advantages__item--accent {
  display: flex;
  flex-direction: column;
  justify-content: center;


  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
  }
}

.advantages__list .advantages__item--accent-first {
  background-image: url("../img/index/white-arrow.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 320px auto;
  padding-top: 38px;

  @media (min-width: $tablet-width) {
    background-image: none;
    padding-top: 0;
  }
}

.advantages__content {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0;
    flex-direction: row;

    width: 768px;
    max-height: 256px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    flex-direction: row;

    width: 1200px;
  }
}


.advantages__item--accent .advantages__text {
  padding: 33px 22px 35px 16px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 256px;
    max-height: 256px;
    padding: 40px 32px 44px 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    max-height: 256px;
    padding: 47px 52px 56px 53px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

.advantages__text--regular .advantages__title {
  padding-bottom: 12px;
}

.advantages__text--regular .advantages__number {
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
  }
}

.advantages__text {
  box-sizing: border-box;
  padding: 25px 26px 24px 25px;

  white-space: pre-line;

  @media (min-width: $tablet-width) {
    padding: 42px 40px 42px 41px;
    width: 256px;
    height: 256px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 43px 43px 62px 42px;
    width: 400px;
    height: 256px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.advantages__text.advantages__text--regular {
  width: 320px;

  &::after {
    content: "";
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 18px;
    height: 1px;
    width: 284px;
    background-color: #d6d6d6;
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}


.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
  padding-bottom: 10px;


  @media (min-width: $tablet-width) {
    font-size: 21px;
    width: 150px;
  }
}

.advantages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding-bottom: 16px;
  }
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
}

.advantages__text--regular .advantages__description {
  width: 249px;

  @media (min-width: $tablet-width) {
    width: 180px;
  }

  @media (min-width: $desktop-width) {
    width: 315px;
  }
}

.advantages__description.advantages__description--position {
  @media (min-width: $tablet-width) {
    width: 140px;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
  }
}


.advantages__text.advantages__text--bridge {
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
  }
}

.advantages__city-photo {
  display: block;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.advantages__bridge-photo {
  display: block;
}

.advantages__text--bridge .advantages__description {
  @media (min-width: $desktop-width) {
    width: 215px;
  }
}
