.advantages {
  margin: 0 auto;
  width: 100%;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.advantages__header {
  padding-top: 32px;
  padding-bottom: 16px;

  margin: 0 auto;
  width: 100%;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.advantages__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;

  color: #000000;

  margin: 0;
  padding-bottom: 35px;
}

.advantages__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  text-align: center;
  text-transform: uppercase;

  color: #000000;

  margin: 0;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  padding-left: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__item {
  list-style: none;
  background: #eeeeee;

  box-sizing: border-box;
  margin: 0;
  padding: 26px;

  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    min-width: 400px;
  }
}

.advantages__item--accent {
  background-color: #81b3d2;
  color: #ffffff;

  padding-top: 54px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.advantages__item.advantages__item--accent {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 768px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 1200px;
  }
}

.advantages__content {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0;
    flex-direction: row;

    flex-basis: 758px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    flex-direction: row;

    flex-basis: 1200px;
  }
}

.advantages__text {
  @media (min-width: $tablet-width) {
    max-width: 256px;
    padding: 40px 32px 0 32px;
  }

  @media (min-width: $desktop-width) {
    max-width: 400px;
    padding: 47px 52px 0 53px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
  padding-bottom: 20px;
}

.advantages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
  padding-bottom: 20px;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
  padding-bottom: 20px;
}

.advantages__item--accent .advantages__description {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}
