.client-info {
  margin: 0;
  padding: 0;
  border: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 23px;

  &::before {
    content: "";
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    bottom: -23px;

    height: 1px;
    width: 320px;
    background-color: #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    margin-left: 60px;
    margin-bottom: 20px;
    align-items: flex-start;

    &::before {
      width: 1px;
      height: 338px;
      left: 323px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 120px;

    &::before {
      width: 1px;
      height: 338px;
      left: 493px;
    }
  }
}

.client-info__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  margin: 0;
  padding: 24px 75px 20px 75px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    padding: 0 0 28px 167px;
    text-align: left;
  }
}

.client-info__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 16px;
}

.client-info__name label {
  margin-left: 16px;
}

.client-info__field {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  display: block;
  background-color: #f2f2f2;
  border: none;

  padding: 16px;
  width: 280px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    background-color: #e5e5e5;
    outline: none;
  }

  &:active {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
  }

  @media (min-width: $desktop-width) {
    width: 430px;
  }
}
