.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-left: 100px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 256px;
  }
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #000000;

  padding-right: 10px;

  &:hover,
  &:focus {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }

  @media (min-width: $tablet-width) {
    width: 121px;

    padding-right: 0;
  }
}

.copyright__link {
  color: #000000;

  &:hover,
  &:focus {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__icon {
  fill: #000000;

  &:hover,
  &:focus {
    fill: #81b3d2;
  }

  &:active {
    fill: #b3b3b3;
  }
}
