.feedback-form {
  background-color: #ffffff;

  margin: 0 auto;
  width: 100%;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 64px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}


.feedback-form__button-submit {
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;

  padding: 19px 34px 14px 34px;
  margin-left: 20px;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    padding: 19px 60px 14px 49px;
    margin-top: 48px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 19px 70px 14px 60px;
    margin-top: 48px;
    margin-left: 216px;
  }
}

.feedback-form__legend {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: end;

  color: rgba(51, 51, 51, 0.6);

  margin: 0;
  padding: 3px 20px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    padding: 0;
    margin-top: 71px;
    margin-left: 170px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    margin-left: 225px;
  }
}
