.feedback {
  padding: 0;
  border: none;
  margin: 0 auto;
  margin-bottom: 34px;
}

.feedback__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  margin-top: 24px;
  margin-bottom: 20px;
}

.feedback__textarea {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);

  background: #f2f2f2;
  border: none;
  box-sizing: border-box;

  display: block;
  min-width: 292px;
  min-height: 150px;
  padding: 16px;
  margin: 0 auto;
}
