.hashtag {
  @media (min-width: $tablet-width) {
    width: 166px;
    margin-left: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 104px;
  }
}

.hashtag__text {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0;
  margin-top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
