.impression {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  border: none;

  position: relative;

  &::before {
    content: "";
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    bottom: 0;

    height: 1px;
    width: 320px;
    background-color: #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    width: 648px;
    margin: 48px 60px 0 60px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 45px 120px 0 120px;
    margin: 0;
    margin-top: 56px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.impression__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 28px;

    &::before {
      content: "";
      position: absolute;
      width: 123px;
      height: 1px;
      top: 12px;
      left: 0;

      background-color: #e5e5e5;
    }

    &::after {
      content: "";
      position: absolute;
      width: 123px;
      height: 1px;
      top: 12px;
      right: 0;

      background-color: #e5e5e5;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    margin: 0;


    &::before {
      width: 280px;
      height: 1px;
      top: 12px;
      left: 120px;
    }

    &::after {
      width: 280px;
      height: 1px;
      top: 12px;
      right: 120px;
    }
  }
}

.impression__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 8px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    margin-left: 30px;

    width: 280px;
    height: 46px;
  }
}

.impression__wrap label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  position: relative;
  padding: 20px 8px 20px 86px;
  box-sizing: border-box;
}

.impression__radio-mark {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: #e5e5e5;
    outline: none;
  }

  &:disabled {
    background-color: #d5d5d5;
    outline: none;
  }
}

.impression__radio[type="radio"]:checked + .impression__radio-mark::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #333333;
  content: "";

  &:disabled {
    background-color: rgba(51, 51, 51, 0.3);
    outline: none;
  }
}
