.index-intro__wrapper {
  position: relative;
  background-color: #81b3d2;
  margin: 0 auto;

  width: 320px;
  height: 389px;
  background-image: url("../img/intro-mobile.jpg");

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0 auto;
  }
}

.index-intro__text-image {
  position: absolute;
  top: 90px;
  left: 19px;
}
