.index-intro__wrapper {
  position: relative;
  background-color: #81b3d2;
  margin: 0 auto;
  width: 100%;

  background-image: url("../img/intro-mobile.jpg");

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0 auto;
  }
}
