.index-intro__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  width: 320px;
  height: 389px;
  background-image: url("../img/intro-divider-mobile.svg"), url("../img/intro-mobile.jpg");
  background-position: bottom, left top;
  background-repeat: no-repeat, no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-divider-mobile.svg"), url("../img/intro-mobile@2x.jpg");
    object-fit: cover;
    background-size: 320px auto;
  }

  background-color: #81b3d2;

  @media (min-width: $tablet-width) {
    margin: 0 auto;

    width: 768px;
    height: 518px;
    background-image: url("../img/intro-divider.svg"), url("../img/intro-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-divider.svg"), url("../img/intro-desktop-x2.jpg");
      background-size: 1200px auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 518px;
    margin: 0 auto;
  }
}
