.main-nav {
  background-color: #81b3d2;
  width: 100%;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}


@media (min-width: $tablet-width) {
  .main-nav {
    background-color: #ffffff;
    box-shadow: none;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    background-color: #ffffff;
    box-shadow: none;
  }

  .main-nav__toggle {
    display: none;
  }
}
