.modal-success {
  width: 320px;
  min-height: 323px;
  margin: 0 auto;

  // position: fixed;
  // top: 100px;
  // left: 100px;
  // background: rgba(242, 242, 242, 0.8);

  @media (min-width: $tablet-width) {
    width: 640px;
    min-height: 347px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 640px;
    min-height: 347px;
    margin: 0 auto;
  }
}

.modal-success__container {
  padding: 45px 42px 0 41px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  box-shadow: 0 25px 50px rgb(0 0 0 / 15%);
}

// .modal-success__container--close {
//   display: none;
// }


.modal-success__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }
}

.modal-success__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;

  margin: 0;
  margin-bottom: 28px;
}

.modal-success__button-close {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  color: #ffffff;
  background: #81b3d2;
  border: 0;


  padding: 18px 62px 14px 60px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;

    padding: 18px 140px 14px 139px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
  }
}

.modal-success__button-wrap {
  background-color: #f2f2f2;
  margin-top: 30px;
  padding: 20px;
  width: 320px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
    padding: 44px 91px;
    width: 640px;
  }
}
