.modal-succsess {
  width: 320px;
  min-height: 323px;
  margin: 0 auto;
}

.modal-success__container {
  width: 320px;
  padding: 45px 42px 0 41px;
  margin: 0 auto;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.modal-success__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 28px;
}

.modal-success__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 28px;
}

.modal-success__button-close {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  color: #ffffff;
  background: #81b3d2;
  border: 0;

  padding: 18px 14px;
  box-sizing: border-box;
}
