.modal-success {
  width: 320px;
  min-height: 323px;
  margin: 0 auto;

  position: fixed;
  left: 0;
  top: 50%;

  background: rgba(242, 242, 242, 0.8);

  @media (min-width: $tablet-width) {
    width: 640px;
    min-height: 347px;
    margin: 0 auto;

    left: 64px;
    top: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 640px;
    min-height: 347px;
    margin: 0 auto;

    left: 320px;
    top: 50%;
  }
}

// .modal-success--close {
//   display: none;
// }


.modal-success__container {
  padding: 39px 39px 0 37px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  box-shadow: 0 25px 50px rgb(0 0 0 / 15%);
}


.modal-success__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;

    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }
}

.modal-success__description br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.modal-success__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;

  margin: 0;
  margin-bottom: 50px;
}

.modal-success__button-close {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  color: #ffffff;
  background-color: #81b3d2;
  border: 0;

  width: 280px;
  height: 58px;
  padding: 18px 62px 14px 60px;
  margin: 0 auto;
  box-sizing: border-box;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;

    width: 458px;
    height: 58px;
    padding: 18px 140px 14px 139px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
  }
}

.modal-success__button-wrap {
  background-color: #f2f2f2;
  padding: 20px;
  width: 320px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
    padding: 44px 91px;
    width: 640px;
  }
}
