.photo-gallery {
  margin: 0 auto;
  width: 100%;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 648px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.photo-gallery__list {
  list-style: none;

  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;

    background: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;

    background-color: transparent;
  }
}

.photo-gallery__item {
  padding: 24px 20px 25px 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0;
    min-width: 324px;
  }

  @media (min-width: $desktop-width) {
    min-width: 400px;

    position: relative;
  }
}

.photo-gallery__item:first-of-type {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    width: 1200px;
  }
}

.photo-gallery__link {
  margin: 0;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.photo-gallery__content {
  width: inherit;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    min-width: 324px;
    background: #f2f2f2;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    min-width: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: absolute;
    content: "";
    bottom: 0;

    width: 90%;
    height: 80px;
    padding: 22px 20px 15px 20px;
    box-sizing: border-box;
  }
}

.photo-gallery__content--first {
  @media (min-width: $desktop-width) {
    min-width: 1200px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: absolute;
    content: "";
    width: 90%;
    padding: 22px 20px 15px 20px;
    box-sizing: border-box;
  }
}

.photo-gallery__image-title {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.photo-gallery__image-author {
  margin: 0;
  padding-bottom: 11px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  @media (min-width: $desktop-width) {
    color: #ffffff;
    padding: 0;
  }
}

.photo-gallery__button-thumbs-up {
  padding-left: 34px;

  background-color: #ffffff;
  color: #000000;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  background-image: url("../img/gallery/like-icon.svg");
  background-repeat: no-repeat;


  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    bottom: 27px;
    right: 20px;
    background-color: #f2f2f2;

    background-image: url("../img/gallery/like-icon.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    right: 50px;

    background-color: transparent;
    color: #ffffff;

    background-image: url("../img/gallery/like-icon-white.svg");
    background-repeat: no-repeat;
  }
}

.photo-gallery__image {
  display: block;
}
