.recommend {
  background-color: #ffffff;
  color: #000000;
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.recommend__item {
  position: relative;
  padding: 23px 20px 22px 18px;

  @media (min-width: $tablet-width) {
    padding: 158px 36px 59px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 159px 58px 79px 58px;
  }
}

.recommend__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  margin: 0;
  padding-bottom: 16px;
  padding-left: 47px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding-left: 0;
  }
}

.recommend__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  margin: 0;
  padding-left: 47px;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin: 0;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding-left: 0;
  }
}

.recommend__house::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 18px;

  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  width: 39px;
  height: 37px;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 80px;
    left: 100px;

    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 80px;
    left: 160px;

    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;

    width: 75px;
    height: 72px;
  }
}

.recommend__food::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 18px;

  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 35px;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 80px;
    left: 100px;

    background-image: url("../img/icon-food.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 80px;
    left: 160px;

    background-image: url("../img/icon-food.svg");
    background-repeat: no-repeat;

    width: 75px;
    height: 72px;
  }
}

.recommend__gift::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 18px;

  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 38px;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 80px;
    left: 100px;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 80px;
    left: 160px;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;

    width: 75px;
    height: 72px;
  }
}
