.recommend.advantages__sublist {
  background-color: #ffffff;
  color: #000000;
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommend__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.recommend__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
