.sights {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  border: none;
}

.sights__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.sights__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 20px 20px 0 20px;
}

.sights__wrap:last-child {
  padding-bottom: 24px;
}

.sights__wrap label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  margin-left: 16px;
}
