.sights {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  border: none;

  position: relative;

  &::before {
    content: "";
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    bottom: 0;

    height: 1px;
    width: 320px;
    background-color: #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    width: 648px;
    margin: 48px 60px 42px 60px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    margin: 56px 120px 56px 120px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.sights__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    width: 308px;

    &::before {
      content: "";
      position: absolute;
      width: 123px;
      height: 1px;
      top: 12px;
      left: 0;

      background-color: #e5e5e5;
    }

    &::after {
      content: "";
      position: absolute;
      width: 123px;
      height: 1px;
      top: 12px;
      right: 0;

      background-color: #e5e5e5;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 280px;
      height: 1px;
      top: 12px;
      left: 0;
    }

    &::after {
      width: 280px;
      height: 1px;
      top: 12px;
      right: 0;
    }
  }
}

.sights__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-left: 50px;
    width: 254px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    width: 240px;
  }
}

.sights__wrap label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  position: relative;
  padding: 20px 20px 20px 76px;
}

.sights__checkbox-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: #e5e5e5;
    outline: none;
  }

  &:disabled {
    background-color: #d5d5d5;
    outline: none;
  }
}

.sights__checkbox[type="checkbox"]:checked + .sights__checkbox-icon::before {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 22px;
  height: 16px;
  background-image: url("../img/form/check-arrow.svg");
  content: "";

  &:disabled {
    background-color: rgba(51, 51, 51, 0.3);
    outline: none;
  }
}
