.site-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    margin: 0;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    margin: 0;
    height: auto;
  }
}


.site-list__item {
  list-style: none;
  text-align: center;
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 18px;
}

.site-list__item a {
  text-decoration: none;
  color: #ffffff;
}


@media (min-width: $tablet-width) {
  .site-list__item a {
    color: #000000;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item a {
    color: #000000;
  }
}

