.site-list {
  margin: 0;
}

.site-list__item {
  list-style: none;
  text-align: center;
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 18px;
}

.site-list__item a {
  text-decoration: none;
  color: #ffffff;
}
