.social {
  @media (min-width: $tablet-width) {
    margin-left: 97px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: 254px;
  }
}

.social__list {
  list-style: none;

  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;

  margin: 0;
  padding-left: 0;
  padding-top: 34px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social__item {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link {
  background-color: #81b3d2;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:hover path,
  &:focus path {
    fill: #ffffff;
  }

  &:active path {
    fill: rgba(255, 255, 255, 0.3);
  }
}
