.travel {
  color: #000000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;


  padding: 38px 30px 49px 29px;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 61px 166px 58px 167px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 58px 371px 66px 371px;
  }
}


.travel__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 30px;
  }
}

.travel__description br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.travel__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-bottom: 46px;
  }
}

.travel__link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;

  background-color: #81b3d2;

  display: inline-block;
  width: 284px;
  padding: 16px 49px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    padding: 15px 121px 18px;
    width: 458px;
  }
}
